@using LTI.Core
@model Employee

<div class="panel panel-default">

    <div class="panel-heading">
        <h3>@Model.EName</h3>
    </div>

    <div class="panel-body">
        <span>Employee ID : @Model.EId</span>
        <span>Primary Skill : @Model.Skills</span>
    </div>

    <div class="panel-footer">
        <a class="btn btn-sm"
           asp-page="./EmployeeDetails"
           asp-route-employeeId="@Model.EId">
            <i class="glyphicon glyphicon-zoom-in"></i>
        </a>

        <a class="btn btn-sm"
           asp-page="./EditEmployee"
           asp-route-employeeId="@Model.EId">
            <i class="glyphicon glyphicon-edit"></i>
        </a>

        <a class="btn btn-sm"
           asp-page="./DeleteEmployee"
           asp-route-employeeId="@Model.EId">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>
</div>
